[Unit]
Description=upload directory monitor
After=network.target
# comment out if tika or solr are on another box
Requires=tika.service solr.service

[Service]
Type=simple
Restart=on-failure
StandardOutput=tty
ExecStart=/bin/bash -c '/opt/oss-mini/upload-directory-monitor.bash  >>/var/log/upload-directory-monitor.log 2>>/var/log/upload-directory-monitor.error'
WorkingDirectory=/opt/oss-mini

[Install]
WantedBy=multi-user.target
