[Unit]
Description=upload directory monitor
After=network.target
# comment out if tika or solr are on another box
Requires=tika.service solr.service

[Service]
Type=simple
Restart=on-failure
StandardOutput=tty
ExecStart=/bin/sh -c '/opt/oss-mini/monitor.bash /var/spool/oss-mini/upload/ >>/var/log/monitor.log 2>>/var/log/monitor.error'
WorkingDirectory=/opt/oss-mini

[Install]
WantedBy=multi-user.target
